@page "/operations/queuetasksetting"
@using Application.Model.TaskCenter
@attribute [ReuseTabsPageTitle("队列任务配置")]

<Table TItem="TaskSettingDto" DataSource="@pageList.List" Total="@pageList.Total" Loading="tableLoading" RemoteDataSource>

    <ColumnDefinitions>
        <PropertyColumn Property="c => c.Name" Title="任务名称"></PropertyColumn>
        <PropertyColumn Property="c => c.IsEnable" Title="启用"></PropertyColumn>
        <PropertyColumn Property="c => c.Semaphore" Title="并发"></PropertyColumn>
        <PropertyColumn Property="c => c.Duration" Title="持续时间(分)"></PropertyColumn>
        <PropertyColumn Property="c => c.Remarks" Title="备注"></PropertyColumn>
        <PropertyColumn Property="c => (c.UpdateTime ?? c.CreateTime).LocalDateTime" Format="yyyy-MM-dd HH:mm" Title="更新时间"></PropertyColumn>
        <ActionColumn Title="操作">
            <Space>
                <SpaceItem>
                    <a @onclick="() => EditTaskSettingAsync(context)">编辑</a>
                </SpaceItem>
            </Space>
        </ActionColumn>
    </ColumnDefinitions>

    <PaginationTemplate>
        <div style="margin:15px 0;float:right">
            <Pagination Total="@pageList.Total" PageSize="pageSize" Current="pageNum" ShowSizeChanger OnChange="PageChange" ShowQuickJumper ShowTotal="showTotal" />
        </div>
    </PaginationTemplate>

</Table>


<Drawer Closable="true" Width="520" Visible="isShowEditTaskSetting" Title='("任务配置")' OnClose="() => isShowEditTaskSetting = false">
    <Template style="height:90%">

        <Form Model="@editTaskSetting" OnFinish="SaveTaskSettingAsync">

            <FormItem>
                <Text>任务名称</Text>
                <Input Disabled @bind-Value="@taskName" />
            </FormItem>

            <FormItem>
                <Text>任务类型</Text>
                <Input Disabled @bind-Value="@taskCategory" />
            </FormItem>

            <FormItem>
                <Text>是否启用</Text>
                <Switch @bind-Value="@editTaskSetting.IsEnable" CheckedChildren="是" UnCheckedChildren="否" />
            </FormItem>

            <FormItem>
                <Text>并发</Text>
                <Input Placeholder="QueueTask 并发值" Type="InputType.Number" @bind-Value="@editTaskSetting.Semaphore" />
            </FormItem>

            <FormItem>
                <Text>持续时间(分)</Text>
                <Input Placeholder="预期持续时间(分)" Type="InputType.Number" @bind-Value="@editTaskSetting.Duration" />
            </FormItem>

            <FormItem>
                <Text>备注</Text>
                <Input Placeholder="请输入备注" @bind-Value="@editTaskSetting.Remarks" />
            </FormItem>

            <Row Gutter="24">
                <AntDesign.Col Span="24">
                    <div style="float:right">
                        <Button Type="@ButtonType.Primary" HtmlType="submit" Loading="@saveLoading">保存</Button>
                        <Button Type="@ButtonType.Default" @onclick="() => isShowEditTaskSetting = false">取消</Button>
                    </div>
                </AntDesign.Col>
            </Row>

        </Form>

    </Template>
</Drawer>


@code {

    List<string> functionList = new();

    const string PageCategory = "QueueTask";

    override protected async Task OnInitializedAsync()
    {
        functionList = await userContextService.GetFunctionList();
    }

    override protected void OnParametersSet()
    {
        GetTaskSettingListAsync();
    }

    bool tableLoading = false;
    int pageNum = 1;
    int pageSize = 10;
    PageListDto<TaskSettingDto> pageList = new();


    async Task GetTaskSettingListAsync()
    {
        tableLoading = true;

        var retData = await Http.GetFromJsonAsync<PageListDto<TaskSettingDto>>("Operations/GetTaskSettingListAsync?pageNum=" + pageNum + "&pageSize=" + pageSize + "&category=" + PageCategory, JsonHelper.DeserializeOpts);

        if (retData != null)
        {
            pageList = retData;
        }

        tableLoading = false;
        StateHasChanged();
    }

    void PageChange(PaginationEventArgs args)
    {
        if (pageNum != args.Page)
        {
            pageNum = args.Page;
        }

        if (pageSize != args.PageSize)
        {
            pageSize = args.PageSize;
        }

        GetTaskSettingListAsync();
    }

    Func<PaginationTotalContext, string> showTotal = pageList => $"共 {pageList.Total} 条";

    bool isShowEditTaskSetting = false;
    bool saveLoading = false;

    long taskSettingId;
    string? taskName;
    string? taskCategory;
    EditTaskSettingDto editTaskSetting = new();

    async Task EditTaskSettingAsync(TaskSettingDto taskSetting)
    {
        taskSettingId = taskSetting.Id;

        taskName = taskSetting.Name;
        taskCategory = taskSetting.Category;

        editTaskSetting = new EditTaskSettingDto
        {
            IsEnable = taskSetting.IsEnable,
            Cron = taskSetting.Cron,
            Semaphore = taskSetting.Semaphore,
            Duration = taskSetting.Duration,
            Parameter = taskSetting.Parameter,
            Remarks = taskSetting.Remarks
        };

        await Task.Delay(200);

        isShowEditTaskSetting = true;

        StateHasChanged();
    }

    async Task SaveTaskSettingAsync()
    {
        saveLoading = true;

        using var httpResponse = await Http.PostAsJsonAsync<EditTaskSettingDto>("Operations/UpdateTaskSetting?taskSettingId=" + taskSettingId, editTaskSetting, JsonHelper.SerializeOpts);

        if (httpResponse.IsSuccessStatusCode)
        {
            Message.Success("编辑成功");
        }

        saveLoading = false;

        GetTaskSettingListAsync();
        isShowEditTaskSetting = false;
    }
}

