
@{
    Layout = null;

    TCategory info = (TCategory)Model["categoryInfo"];
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>编辑频道</title>

    <script src="~/lib/jquery.js"></script>

    <link href="~/Admin/css/style.css" rel="stylesheet" />

    <script src="~/Admin/js/layout.js"></script>

</head>

<body class="mainbody">
    <form method="post" id="form1" action="/Category/Category_Edit_Run/">

        <input type="hidden" value="@info.Id" name="Id" />
        <input type="hidden" value="@info.Channelid" name="Channelid" />
        <input type="hidden" value="@info.Createtime" name="Createtime" />

        <!--导航栏-->
        <div class="location">
            <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
            <a href="/Home/Center/" class="home"><i></i><span>首页</span></a>
            <i class="arrow"></i>
            <a href="/Channel/Index/"><span>频道管理</span></a>
            <i class="arrow"></i>
            <span>频道信息</span>
        </div>
        <div class="line10"></div>
        <!--/导航栏-->
        <!--内容-->
        <div class="content-tab-wrap">
            <div id="floatHead" class="content-tab">
                <div class="content-tab-ul-wrap">
                    <ul>
                        <li><a href="javascript:;" onclick="tabs(this);" class="selected">频道基本信息</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <dl>
                <dt>所属父类别</dt>
                <dd>
                    <div class="rule-single-select">
                        <select id="slt_category" name="Parentid">
                            <option value="0">无父级分类</option>
                            @{
                                foreach (var item in (List<TCategory>)Model["categoryList"])
                                {
                                    if (info.Parentid == item.Id)
                                    {
                                        <option value="@item.Id" selected="selected">@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt>排序数字</dt>
                <dd>
                    <input name="Sort" type="text" value="@info.Sort" class="input small" />
                    <span class="Validform_checktip">*数字，越小越向前</span>
                </dd>
            </dl>
            <dl>
                <dt>类别名称</dt>
                <dd>
                    <input name="Name" type="text" value="@info.Name" class="input normal" />
                    <span class="Validform_checktip">
                        <span id="RvName" style="visibility:hidden;">*请输入栏目名称</span>
                    </span>
                </dd>
            </dl>
            <dl>
                <dt>Url别名</dt>
                <dd>
                    <input name="Urlrole" type="text" value="@info.Urlrole" class="input normal" />
                    <span class="Validform_checktip">*Url别名，不允许中文。</span>
                </dd>
            </dl>

            <dl>
                <dt>注释</dt>
                <dd>
                    <input name="Remark" type="text" value="@info.Remark" class="input normal" />
                </dd>
            </dl>

            <dl>
                <dt>SEO标题</dt>
                <dd>
                    <input name="Seot" type="text" value="@info.Seot" class="input normal" />
                </dd>
            </dl>

            <dl>
                <dt>SEO关键词</dt>
                <dd>
                    <input name="Seok" type="text" value="@info.Seok" class="input normal" />
                    <span class="Validform_checktip">*以“,”逗号区分开</span>
                </dd>
            </dl>

            <dl>
                <dt>SEO描述</dt>
                <dd>
                    <textarea name="Seod" rows="2" cols="20" class="input normal" style="height:150px;width:500px;">@info.Seod</textarea>
                </dd>
            </dl>
        </div>

        <!--工具栏-->
        <div class="page-footer">
            <div class="btn-list">
                <input type="submit" id="loginOk" value="提交保存" class="btn" />
                <input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onclick="javascript: history.back(-1);" />
            </div>
            <div class="clear"></div>
        </div>
        <!--/工具栏-->

    </form>
</body>
</html>
