@page "/user"
@using System.ComponentModel
@using AntDesign.TableModels
@using Models.User

<Layout Style=" padding: 0 24px 24px;">
    <Breadcrumb Style="margin: 16px 0;">
        <BreadcrumbItem>返回上一页</BreadcrumbItem>
        <BreadcrumbItem>首页</BreadcrumbItem>
        <BreadcrumbItem>用户管理</BreadcrumbItem>
        <BreadcrumbItem>所有用户</BreadcrumbItem>
    </Breadcrumb>
    <Content Class="site-layout-background" Style=" padding: 24px; margin: 0; min-height: 280px;">

        <div style="margin-bottom:10px">
            <Button Icon="plus" Type="primary" @onclick="_=>open()">添加</Button>
        </div>
        <Table TItem="dtoUser" DataSource="@pageList.List">
            <Column @bind-Field="@context.Name" Title="用户名"></Column>
            <Column @bind-Field="@context.NickName" Title="昵称"></Column>
            <Column @bind-Field="@context.Phone" Title="电话"></Column>
            <Column @bind-Field="@context.Email" Title="邮箱"></Column>
            <Column @bind-Field="@context.CreateTime" Title="创建时间">
            </Column>
            <ActionColumn Title="操作">
                <Space>
                    <SpaceItem>
                        <a>编辑</a>
                    </SpaceItem>
                    <SpaceItem>
                        <Popconfirm Title="确认要删除吗？"
                                    OnConfirm="_=>DeleteUser(context.Id)"
                                    OkText="Yes"
                                    CancelText="No">
                            <a style="color:red">删除</a>
                        </Popconfirm>

                    </SpaceItem>
                </Space>
            </ActionColumn>
        </Table>

    </Content>
</Layout>


<div>

    <Drawer Closable="true" Width="420" Visible="visible" Title='("用户信息维护")' OnClose="_=>close()">
        <Template style="height:90%">
            <Row Gutter="24">
                <AntDesign.Col Span="24">
                    <Text>用户名</Text>
                    <Input Placeholder="请输入用户名" TValue="string" />
                </AntDesign.Col>
            </Row>
            <br />

            <Row Gutter="24">
                <AntDesign.Col Span="24">
                    <Text>昵称</Text>
                    <Input Placeholder="请输入昵称" TValue="string" />
                </AntDesign.Col>
            </Row>
            <br />

            <Row Gutter="24">
                <AntDesign.Col Span="24">
                    <Text>手机</Text>
                    <Input Placeholder="请输入手机号" TValue="string" />
                </AntDesign.Col>

            </Row>

            <br />
            <Row Gutter="24">
                <AntDesign.Col Span="24">
                    <Text>邮箱</Text>
                    <Input Placeholder="请输入邮箱" TValue="string" />
                </AntDesign.Col>
            </Row>

            <br />

            <Row Gutter="24">
                <AntDesign.Col Span="24">
                    <Text>密码</Text>
                    <Input Placeholder="请输入密码" TValue="string" />
                </AntDesign.Col>
            </Row>

            <br />

            <Row Gutter="24">
                <AntDesign.Col Span="15">
                </AntDesign.Col>
                <AntDesign.Col Span="9">
                    <Button Type="default">取消</Button>
                    <Button Type="primary">保存</Button>
                </AntDesign.Col>
            </Row>
        </Template>
    </Drawer>
</div>

@code{

    override protected void OnInitialized()
    {
        GetUserList();
    }

    private dtoPageList<dtoUser> pageList = new();

    private async void GetUserList()
    {
        pageList = await Http.GetFromJsonAsync<dtoPageList<dtoUser>>("User/GetUserList?pageNum=1&pageSize=100");
        StateHasChanged();
    }

    bool visible = false;

    void open()
    {
        this.visible = true;
    }

    void close()
    {
        this.visible = false;
    }


    private async void DeleteUser(Guid userId)
    {
        using (var httpResponse = await Http.DeleteAsJsonAsync("User/DeleteUser", new { Id = userId }))
        {
            var retValue = httpResponse.Content.ReadAsStringAsync().Result;

            if (Convert.ToBoolean(retValue))
            {
                GetUserList();
                Message.Success("删除成功");
            }
        }
    }


    //void OnRowClick(RowData<Data>
    //row)
    //{
    //    Console.WriteLine($"row {row.Data.Id} was clicked.");
    //}
}
