@model TUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>编辑用户</title>

    <script src="~/lib/jquery.js"></script>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    
</head>

<body style="padding-right:1.2em;padding-left: 1.2em;">
    <form method="post" id="form1" class="layui-form">

        <input type="hidden" value="@Model.Id" name="Id" />

        <div class="layui-tab" style="margin-top:24px">

            <div class="layui-tab-content" style="border:1px solid #e6e6e6;padding-top:25px">
                <div class="layui-tab-item layui-show">

                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-block">
                            <input type="text" name="Name" value="@Model.Name" required lay-verify="required" lay-reqText="请输入用户名" placeholder="请输入用户名" autocomplete="off" class="layui-input" style="width:30em">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">登录密码</label>
                        <div class="layui-input-block">
                            <input type="password" name="Password" value="@Model.PassWord" required lay-verify="required" lay-reqText="请输入登录密码" placeholder="请输入登录密码" autocomplete="off" class="layui-input" style="width:30em">
                        </div>
                    </div>



                    <div class="layui-form-item">
                        <label class="layui-form-label">昵称</label>
                        <div class="layui-input-block">
                            <input type="text" name="NickName" value="@Model.NickName" required lay-verify="required" lay-reqText="请输入昵称" placeholder="请输入昵称" autocomplete="off" class="layui-input" style="width:30em">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">电话</label>
                        <div class="layui-input-block">
                            <input type="text" name="Phone" value="@Model.Phone" required lay-verify="required|phone" lay-reqText="请输入电话" placeholder="请输入电话" autocomplete="off" class="layui-input" style="width:30em">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">邮箱</label>
                        <div class="layui-input-block">
                            <input type="text" name="Email" value="@Model.Email" required lay-verify="required|email" lay-reqText="请输入邮箱" placeholder="请输入邮箱" autocomplete="off" class="layui-input" style="width:30em">
                        </div>
                    </div>



                </div>
            </div>
        </div>


        <div style="position: fixed;bottom:10px;display:none">
            <button type="submit" id="submit" lay-filter="form1" lay-submit class="layui-btn layui-btn-normal">提交保存</button>
            <button type="button" class="layui-btn layui-btn-primary" onclick="javascript: history.back(-1);">返回上一页</button>
        </div>

    </form>

    <script src="~/lib/layui/layui.js"></script>

    <script>
        $(function () {// 初始化内容
            layui.use('element', function () {
                var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
            });

            layui.use('form', function () {
                var form = layui.form;

                //监听提交
                form.on('submit(form1)', function (data) {

                    $.ajax({
                        //几个参数需要注意一下
                        type: "POST",//方法类型
                        url: "/User/UserSave/",
                        data: $('#form1').serialize(),
                        success: function (result) {
                            if (result == true) {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.onloadDataTable();
                                parent.layer.close(index);
                            };
                        }
                    });

                    return false;
                });
            });
        });
    </script>

</body>
</html>
