@{
    Layout = null;

    var info = (TLink)ViewData["LinkInfo"];
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>编辑友情链接</title>

    <script src="~/lib/jquery.js"></script>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/layui/layui.js"></script>
    <link href="~/lib/weui/weui.css" rel="stylesheet" />
    <script src="~/lib/sweetalert.min.js"></script>

    <script>
        $(function () {// 初始化内容
            layui.use('element', function () {
                var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
            });

            layui.use('form', function () {
                var form = layui.form;

                //监听提交
                form.on('submit(form1)', function (data) {

                    $("#btn_Upload").click();

                    $.ajax({
                        //几个参数需要注意一下
                        type: "POST",//方法类型
                        url: "/Link/LinkSave/",//url
                        data: $('#form1').serialize(),
                        success: function (result) {
                            console.log(result);//打印服务端返回的数据(调试用)
                            if (result == true) {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.onloadDataTable();
                                parent.layer.close(index);
                            };
                        }
                    });

                    return false;
                });
            });
        });
    </script>
</head>

<body style="padding-right:1.2em;padding-left: 1.2em;">
    <form method="post" id="form1" class="layui-form">

        <input type="hidden" value="@info.Id" name="Id" />

        <div class="layui-tab" style="margin-top:24px">

            <div class="layui-tab-content" style="border:1px solid #e6e6e6;padding-top:25px">
                <div class="layui-tab-item layui-show">


                    <input id="Id" type="hidden" value="@info.Id" />
                    <div class="layui-form-item">
                        <label class="layui-form-label">友链名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="Name" value="@info.Name" required lay-verify="required" lay-reqText="请输入友链名称" placeholder="请输入友链名称" autocomplete="off" class="layui-input" style="width:30em">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">Url地址</label>
                        <div class="layui-input-block">
                            <input type="text" name="Url" value="@info.Url" required lay-verify="required" lay-reqText="请输入Url地址" placeholder="请输入Url地址" autocomplete="off" class="layui-input" style="width:30em">
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <label class="layui-form-label">注释</label>
                        <div class="layui-input-block">
                            <input type="text" name="Remarks" value="@info.Remarks" placeholder="请输入注释" autocomplete="off" class="layui-input" style="width:30em">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">排序数字</label>
                        <div class="layui-input-inline">
                            <input type="number" name="Sort" min="0" required lay-verify="required|number" value="@info.Sort" lay-reqText="请输入排序数字" placeholder="请输入排序数字" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">数字，越小越向前</div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">封面图</label>
                        <div class="modal-content">
                            <div class="weui-cells">
                                <div class="weui-cell">
                                    <div class="weui-gallery" id="gallery">
                                        <span class="weui-gallery__img" id="galleryImg"></span>
                                        <div class="weui-gallery__opr">
                                            <a href="javascript:" id="galleryDel" class="weui-gallery__del">
                                                <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                                            </a>
                                        </div>
                                    </div>
                                    @*<div class="weui-cells__title" id="uploadTitle">请上传附件 (最大限度为20M)</div>*@
                                    <div class="weui-uploader__bd upload_bd" id="uploadAtta" style="display: -webkit-inline-box;">
                                        <div id="uploadfrom">
                                            <div class="weui-uploader__input-box" id="fileDiv">
                                                <input id="uploaderInput" name="attachments" class="weui-uploader__input" type="file" multiple accept="image/*">
                                            </div>
                                        </div>
                                        <ul class="weui-uploader__files" id="uploaderFiles" style="margin-bottom:0px">
                                            @foreach (var item in (List<TFile>)ViewData["coverList"])
                                            {
                                                <li class="weui-uploader__file" style="margin-bottom:50px" data-id="@item.Id">
                                                    <div class="weui-uploader__file" style="background-image:url(@(Cms.Libraries.Http.HttpContext.GetBaseUrl()+item.Path.Replace("\\","/")));margin-bottom:0px" data-id="@item.Id"></div>
                                                    <input type="text" id="txt_imgsort_@item.Id" value="@item.Sort" style="width:2em;margin-left:1.25em;text-align: center;border-width: 1px;border-style: solid;background-color: #fff;border-radius: 2px;border-color: #e6e6e6;" onchange="SetCoverSort('@item.Id')" />
                                                </li>

                                            }
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                        @* 隐藏上传按钮使用隐藏提交，直接使用页面主体提交按钮进行上传 *@
                        <div class="weui-flex" style="margin:15px;width:10em;display:none">
                            <a href="javascript:;" class="weui-btn weui-btn_primary weui-flex__item" id="btn_Upload" style="color:white">开始上传</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div style="position: fixed;bottom:10px;display:none">
            <button type="submit" id="submit" lay-filter="form1" lay-submit class="layui-btn layui-btn-normal">提交保存</button>
            <button type="button" class="layui-btn layui-btn-primary" onclick="javascript: history.back(-1);">返回上一页</button>
        </div>

    </form>

    <script>
        function SetCoverSort(id) {

            var sort = $("#txt_imgsort_" + id).val();

            $.ajax({
                type: "POST",//方法类型
                url: "/File/SetFileSort/",
                data: { id: id, sort: sort },
                success: function (data) {
                    if (data.status == true) {
                        swal("调整成功！", {
                            button: false,
                            icon: "success",
                            timer: 1000
                        });
                    }
                    else {
                        swal("Red marks are required!", {
                            icon: "error",
                            text: data.msg
                        });
                    }
                }
            });
        }

        function DeleteCover(id) {

            var dataJson = { id: id };

            $.ajax({
                type: "POST",//方法类型
                url: "/File/DeleteFile/",
                data: dataJson,
                success: function (data) {
                    if (data == true) {
                        swal("删除成功！", {
                            button: false,
                            icon: "success",
                            timer: 1000
                        });
                    }
                }
            });
        }

        function UploadCover() {
            var tmpl = '<li class="weui-uploader__file" style="background-image:url(#url#)"></li>',
                $gallery = $("#gallery"),
                $galleryImg = $("#galleryImg"),
                $uploaderInput = $("#uploaderInput"),
                $uploaderFiles = $("#uploaderFiles"),
                $galleryDel = $('#galleryDel');

            $gallery.on("click", function () {
                $gallery.fadeOut(100);
            });

            $galleryDel.on("click", function () {

                var fileId = $galleryImg.attr("data-id");

                DeleteCover(fileId)

                $uploaderFiles.children("[data-id='" + fileId + "']").remove();
                $("#fileDiv").children("[data-id='" + fileId + "']").remove();
            });

            $("#fileDiv").on("change", '#uploaderInput', function (e) {

                var src, url = window.URL || window.webkitURL || window.mozURL, files = e.target.files;
                for (var i = 0, len = files.length; i < len; ++i) {
                    var file = files[i];

                    if (file.size > 20971520) {
                        $.alert("文件过大无法上传!", "cancel");
                        continue;
                    }
                    if (url) {
                        src = url.createObjectURL(file);
                    } else {
                        src = e.target.result;
                    }



                    var guid = newGuid();

                    var liImage = document.createElement("li");
                    liImage.setAttribute("class", "weui-uploader__file");
                    liImage.setAttribute("style", "margin-bottom: 50px;");
                    liImage.setAttribute("data-id", guid);

                    var divP = document.createElement("div");
                    divP.setAttribute("class", "weui-uploader__file");
                    divP.setAttribute("style", "background-image:url(" + src + ");margin-bottom: 0px;");
                    divP.setAttribute("data-id", guid);


                    liImage.appendChild(divP);


                    //添加li到ul
                    $uploaderFiles.append(liImage);
                    $(this).removeAttr("id");
                    $(this).css('display', "none")
                    $(this).attr('data-id', guid)
                    var uploadFilestr = ' <input  id="uploaderInput" name="attachments" class="weui-uploader__input" type="file" multiple accept="image/*" >';
                    $("#fileDiv").append($(uploadFilestr));

                    //$("#uploaderInput").click();


                }
            });
            $uploaderFiles.on("click", "div", function () {

                $("#uploaderFiles li").removeClass("hover");
                $(this).toggleClass("hover");
                $galleryImg.attr("style", this.getAttribute("style"));
                $galleryImg.attr("data-id", this.getAttribute("data-id"));
                $gallery.fadeIn(100);
            });
            $gallery.on("click", function () {
                $gallery.fadeOut(100);
            });

            $("#btn_Upload").on('click', function () {

                var oFormData = new FormData();
                oFormData.append("TableId", $("#Id").val());
                oFormData.append("Sign", "cover");
                oFormData.append("Table", "TLink");

                var filesList = document.getElementsByName("attachments");

                for (var i = 0; i < filesList.length; i++) {

                    if (filesList[i].files.length != 0) {

                        for (var c = 0; c < filesList[i].files.length; c++) {
                            oFormData.append("fileUpload", filesList[i].files[c]); // 文件对象
                        }
                    }
                }


                $.ajax({
                    url: '/File/UploadFile',
                    type: 'POST',
                    data: oFormData,
                    async: true,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data == true) {
                            console.log("图片上传成功");
                        } else {

                        }
                    }
                });

            });
        }

        function newGuid() {
            var guid = "";
            for (var i = 1; i <= 32; i++) {
                var n = Math.floor(Math.random() * 16.0).toString(16);
                guid += n;
                if ((i == 8) || (i == 12) || (i == 16) || (i == 20))
                    guid += "-";
            }
            return guid;
        }

        $(function () {
            UploadCover()
        });
    </script>

</body>
</html>
