@page "/systemset/log"
@using Application.Model.Basic.Log
@attribute [ReuseTabsPageTitle("日志")]

<Form Model="@request" Layout="@FormLayout.Inline" OnFinish="HandleSearch">
    <FormItem>
        <Text>设备名称</Text>
        <Input @bind-Value="@context.MachineName" Placeholder="请输入设备名称" Style="width: 200px" />
    </FormItem>
    <FormItem>
        <Text>日志等级</Text>
        <Select TItem="string" TItemValue="string" @bind-Value="@context.Level" Placeholder="请选择日志等级" Style="width: 150px" AllowClear>
            <SelectOption Value="@("Debug")" Label="Debug"></SelectOption>
            <SelectOption Value="@("Info")" Label="Info"></SelectOption>
            <SelectOption Value="@("Warning")" Label="Warning"></SelectOption>
            <SelectOption Value="@("Error")" Label="Error"></SelectOption>
            <SelectOption Value="@("Fatal")" Label="Fatal"></SelectOption>
        </Select>
    </FormItem>
    <FormItem>
        <Text>开始时间</Text>
        <DatePicker @bind-Value="@context.StartTime" Format="yyyy-MM-dd HH:mm:ss" ShowTime="@true" />
    </FormItem>
    <FormItem>
        <Text>结束时间</Text>
        <DatePicker @bind-Value="@context.EndTime" Format="yyyy-MM-dd HH:mm:ss" ShowTime="@true" />
    </FormItem>
    <FormItem>
        <Space>
            <Button Type="@ButtonType.Primary" HtmlType="submit" Icon="@("search-outlined")">搜索</Button>&nbsp;&nbsp;
            <Button Icon="@("redo-outlined")" OnClick="HandleReset">重置</Button>
        </Space>
    </FormItem>
</Form>

<Divider Style="margin: 12px 0" />

<Table TItem="LogDto" DataSource="@pageList.List" Total="@pageList.Total" Loading="tableLoading" RemoteDataSource>

    <ColumnDefinitions>
        <PropertyColumn Property="c => c.Project" Title="项目"></PropertyColumn>
        <PropertyColumn Property="c => c.MachineName" Title="机器"></PropertyColumn>
        <PropertyColumn Property="c => c.Level" Title="等级"></PropertyColumn>
        <PropertyColumn Property="c => c.Category" Title="类别"></PropertyColumn>
        <PropertyColumn Property="c => c.CreateTime.LocalDateTime" Format="yyyy-MM-dd HH:mm" Title="时间"></PropertyColumn>
        <ActionColumn Title="操作">
            <Space>
                @if (functionList.Contains("log-view"))
                {
                    <SpaceItem>
                        <a @onclick="() => ViewLog(context)">查看</a>
                    </SpaceItem>
                }
            </Space>
        </ActionColumn>
    </ColumnDefinitions>

    <PaginationTemplate>
        <div style="margin:15px 0;float:right">
            <Pagination Total="@pageList.Total" PageSize="@request.PageSize" Current="@request.PageNum" ShowSizeChanger OnChange="PageChange" ShowQuickJumper ShowTotal="showTotal" />
        </div>
    </PaginationTemplate>

</Table>


<Drawer Closable="true" Width="860" Visible="isShowDetail" Title='("日志详情")' OnClose="() => isShowDetail = false">
    <Template style="height:90%">

        <Descriptions Column="2" Bordered>
            <DescriptionsItem Title="项目">@detail?.Project</DescriptionsItem>
            <DescriptionsItem Title="机器">@detail?.MachineName</DescriptionsItem>
            <DescriptionsItem Title="等级">@detail?.Level</DescriptionsItem>
            <DescriptionsItem Title="类别">@detail?.Category</DescriptionsItem>
            <DescriptionsItem Title="时间">@detail?.CreateTime.LocalDateTime.ToString("yyyy-MM-dd HH:mm")</DescriptionsItem>
            <DescriptionsItem Title="Id">@detail?.Id</DescriptionsItem>
        </Descriptions>

        <Divider />

        <Text>内容</Text>
        <TextArea @bind-Value="@detailContent" ReadOnly MinRows="10" MaxRows="24" style="width:100%" />

    </Template>
</Drawer>


@code {

    List<string> functionList = new();

    override protected async Task OnInitializedAsync()
    {
        functionList = await userContextService.GetFunctionList();
    }

    override protected void OnParametersSet()
    {
        GetLogList();
    }

    LogPageRequestDto request = new() { PageSize = 10 };

    bool tableLoading = false;
    PageListDto<LogDto> pageList = new();

    async Task GetLogList()
    {
        tableLoading = true;
        var url = StringHelper.ModelToUriParam(request, "Log/GetLogList");
        var retData = await Http.GetFromJsonAsync<PageListDto<LogDto>>(url, JsonHelper.DeserializeOpts);

        if (retData != null)
        {
            pageList = retData;
        }

        tableLoading = false;
        StateHasChanged();
    }

    async Task HandleSearch(EditContext editContext)
    {
        request.PageNum = 1;
        await GetLogList();
    }

    void HandleReset()
    {
        request = new LogPageRequestDto { PageSize = request.PageSize };
        GetLogList();
    }

    void PageChange(PaginationEventArgs args)
    {
        if (request.PageNum != args.Page)
        {
            request.PageNum = args.Page;
        }

        if (request.PageSize != args.PageSize)
        {
            request.PageSize = args.PageSize;
        }

        GetLogList();
    }

    Func<PaginationTotalContext, string> showTotal = pageList => $"共 {pageList.Total} 条";

    bool isShowDetail = false;
    LogDto? detail;
    string? detailContent;

    void ViewLog(LogDto row)
    {
        detail = row;
        detailContent = row.Content;
        isShowDetail = true;
        StateHasChanged();
    }
}
