@page "/systemset/user"
@using Application.Model.User.User
@using Application.Model.User.Role
@attribute [ReuseTabsPageTitle("用户管理")]

<div style="margin-bottom:10px;display:flex;align-items:center;justify-content:space-between;gap:12px;flex-wrap:wrap">
    <div>
        @if (functionList.Contains("user-add"))
        {
            <Button Icon="plus" Type="@ButtonType.Primary" @onclick="() => EditUser()">添加</Button>
        }
    </div>

    <div style="margin-left:auto">
        <Form Model="@request" Layout="@FormLayout.Inline" OnFinish="HandleSearchAsync">
            <FormItem>
                <Input @bind-Value="@context.Keyword" Placeholder="名称/用户名/电话/邮箱 模糊检索" Style="width: 260px" AllowClear />
            </FormItem>
            <FormItem>
                <Space>
                    <Button Type="@ButtonType.Primary" HtmlType="submit">搜索</Button>
                </Space>
            </FormItem>
            <FormItem>
                <Space>
                    <Button OnClick="HandleReset">重置</Button>
                </Space>
            </FormItem>
        </Form>
    </div>
</div>

<Divider Style="margin: 12px 0" />

<Table TItem="UserDto" DataSource="@pageList.List" Total="@pageList.Total" Loading="tableLoading" RemoteDataSource>

    <ColumnDefinitions>
        <PropertyColumn Property="c => c.Name" Title="名称"></PropertyColumn>
        <PropertyColumn Property="c => c.UserName" Title="用户名"></PropertyColumn>
        <PropertyColumn Property="c => c.Phone" Title="电话"></PropertyColumn>
        <PropertyColumn Property="c => c.Email" Title="邮箱"></PropertyColumn>
        <PropertyColumn Property="c => c.Roles" Title="角色"></PropertyColumn>
        <PropertyColumn Property="c => c.CreateTime.LocalDateTime" Format="yyyy-MM-dd HH:mm" Title="创建时间"></PropertyColumn>
        <ActionColumn Title="操作">
            <Space>

                @if (functionList.Contains("user-edit"))
                {
                    <SpaceItem>
                        <a @onclick="() => EditUser(context)">编辑</a>
                    </SpaceItem>
                }

                @if (functionList.Contains("user-function"))
                {
                    <SpaceItem>
                        <a @onclick="() => EditAuthorityAsync(context.Id)" style="color:darkorchid">权限范围</a>
                    </SpaceItem>
                }

                @if (functionList.Contains("user-delete"))
                {
                    <SpaceItem>
                        <Popconfirm Title="确认要删除吗？"
                                    OnConfirm="_=>DeleteUserAsync(context.Id)"
                                    OkText="Yes"
                                    CancelText="No">
                            <a style="color:red">删除</a>
                        </Popconfirm>

                    </SpaceItem>
                }

            </Space>
        </ActionColumn>
    </ColumnDefinitions>

    <PaginationTemplate>
        <div style="margin:15px 0;float:right">
            <Pagination Total="@pageList.Total" PageSize="@request.PageSize" Current="@request.PageNum" ShowSizeChanger OnChange="PageChange" ShowQuickJumper ShowTotal="showTotal" />
        </div>
    </PaginationTemplate>

</Table>


<Drawer Closable="true" Width="380" Visible="isShowEditUser" Title='("用户信息")' OnClose="() => isShowEditUser = false">
    <Template style="height:90%">

        <Form Model="@editUser" OnFinish="SaveUserAsync">

            <FormItem>
                <Text>名称</Text>
                <Input Placeholder="请输入名称" @bind-Value="@context.Name" AutoComplete=false />
            </FormItem>

            <FormItem>
                <Text>用户名</Text>
                <Input Placeholder="请输入用户名" @bind-Value="@context.UserName" />
            </FormItem>

            <FormItem>
                <Text>角色</Text>
                <CheckboxGroup Style="width:100%" @bind-Value="@context.RoleIds">
                    <Row>
                        @foreach (var item in roleList)
                        {
                            <AntDesign.Col Span="8"><Checkbox Label="@item.Id.ToString()">@item.Name</Checkbox></AntDesign.Col>
                        }
                    </Row>
                </CheckboxGroup>
            </FormItem>

            <FormItem>
                <Text>手机</Text>
                <Input Placeholder="请输入手机号" Type="InputType.Tel" @bind-Value="@context.Phone" />
            </FormItem>

            <FormItem>
                <Text>邮箱</Text>
                <Input Placeholder="请输入邮箱" Type="InputType.Email" @bind-Value="@context.Email" />
            </FormItem>

            <FormItem>
                <Text>密码</Text>
                <InputPassword Placeholder="请输入密码" Type="InputType.Password" @bind-Value="@context.Password" ReadOnly=isReadOnly OnFocus="() => isReadOnly = false" VisibilityToggle="false" />
            </FormItem>

            <Row Gutter="24">
                <AntDesign.Col Span="24">
                    <div style="float:right">
                        <Button Type="@ButtonType.Primary" HtmlType="submit" Loading="@saveLoading">保存</Button>
                        <Button Type="@ButtonType.Default" @onclick="() => isShowEditUser = false">取消</Button>
                    </div>
                </AntDesign.Col>
            </Row>
        </Form>
    </Template>
</Drawer>

<Modal Title="权限范围" Style="width:1160px;" Visible="@isShowEditAuthority" OnCancel="() => isShowEditAuthority = false" Footer="null" MaxBodyHeight="@("70vh")">
    <Table DataSource="userFunctionList" TreeChildren="item => item.ChildList" DefaultExpandAllRows HidePagination>

        <Column Title="菜单模块" TData="string">
            <Checkbox Label="@context.Id.ToString()" @bind-Value="context.IsCheck" OnChange="isCheck => SetUserFunctionAsync(isCheck, context)">@context.Name</Checkbox>
        </Column>

        <Column Title="功能操作" TData="string">
            <Row>
                @foreach (var item in context.FunctionList)
                {
                    <Checkbox Label="@item.Id.ToString()" @bind-Value="item.IsCheck" OnChange="isCheck => SetUserFunctionAsync(isCheck, item)">@item.Name</Checkbox>
                }
            </Row>
        </Column>

    </Table>

</Modal>


@code {

    bool isReadOnly = true;

    List<string> functionList = new();

    override protected async Task OnInitializedAsync()
    {
        functionList = await userContextService.GetFunctionList();

        var getUserListTask = GetUserListAsync();
        var getRoleSelectTask = GetRoleSelectAsync();

        await Task.WhenAll(getUserListTask, getRoleSelectTask);
    }


    bool saveLoading = false;
    bool tableLoading = false;
    UserPageRequestDto request = new() { PageSize = 10 };
    PageListDto<UserDto> pageList = new();

    bool isShowEditAuthority = false;

    List<RoleSelectDto> roleList = new();

    List<UserFunctionDto> userFunctionList = new();

    async Task GetRoleSelectAsync()
    {
        var retData = await Http.GetFromJsonAsync<List<RoleSelectDto>>("Role/GetRoleSelect", JsonHelper.DeserializeOpts);

        if (retData != null)
        {
            roleList = retData;
        }
    }

    async Task GetUserListAsync()
    {
        tableLoading = true;

        var url = StringHelper.ModelToUriParam(request, "User/GetUserList");
        var retData = await Http.GetFromJsonAsync<PageListDto<UserDto>>(url, JsonHelper.DeserializeOpts);

        if (retData != null)
        {
            pageList = retData;
        }

        tableLoading = false;
        StateHasChanged();
    }

    void PageChange(PaginationEventArgs args)
    {
        if (request.PageNum != args.Page)
        {
            request.PageNum = args.Page;
        }

        if (request.PageSize != args.PageSize)
        {
            request.PageSize = args.PageSize;
        }

        GetUserListAsync();
    }
    Func<PaginationTotalContext, string> showTotal = pageList => $"共 {pageList.Total} 条";


    async Task HandleSearchAsync(EditContext editContext)
    {
        request.PageNum = 1;
        await GetUserListAsync();
    }

    void HandleReset()
    {
        request = new UserPageRequestDto { PageSize = request.PageSize };
        GetUserListAsync();
    }


    bool isShowEditUser = false;
    EditUserDto editUser = new();
    long userId;

    async Task SaveUserAsync()
    {
        saveLoading = true;

        if (userId == default)
        {
            using var httpResponse = await Http.PostAsJsonAsync<EditUserDto>("User/CreateUser", editUser, JsonHelper.SerializeOpts);
            if (httpResponse.IsSuccessStatusCode)
            {
                Message.Success("添加成功");
                isShowEditUser = false;
            }
        }
        else
        {
            using var httpResponse = await Http.PostAsJsonAsync<EditUserDto>("User/UpdateUser?userId=" + userId, editUser, JsonHelper.SerializeOpts);
            if (httpResponse.IsSuccessStatusCode)
            {
                Message.Success("编辑成功");

                isShowEditUser = false;
            }
        }

        if (!isShowEditUser)
        {
            GetUserListAsync();
        }

        saveLoading = false;
        StateHasChanged();
    }


    void EditUser(UserDto? user = null)
    {
        editUser = new EditUserDto();
        userId = default;
        if (user != null)
        {
            userId = user.Id;
            editUser.Name = user.Name;
            editUser.UserName = user.UserName;
            editUser.Phone = user.Phone;
            editUser.Email = user.Email;
            editUser.Password = "default";
            if (user.RoleIds != null)
            {
                editUser.RoleIds = user.RoleIds;
            }
        }

        isShowEditUser = true;

        StateHasChanged();
    }



    async Task DeleteUserAsync(long userId)
    {
        using var httpResponse = await Http.DeleteAsync("User/DeleteUser?id=" + userId);
        if (httpResponse.IsSuccessStatusCode)
        {
            GetUserListAsync();
            Message.Success("删除成功");
        }
    }


    async Task EditAuthorityAsync(long roleId)
    {
        this.userId = roleId;

        var retData = await Http.GetFromJsonAsync<List<UserFunctionDto>>("User/GetUserFunction?userId=" + userId, JsonHelper.DeserializeOpts);

        if (retData != null)
        {
            userFunctionList = retData;
        }

        isShowEditAuthority = true;

        StateHasChanged();
    }


    async Task SetUserFunctionAsync(bool isCheck, UserFunctionDto userFunction)
    {
        SetUserFunctionDto setUserFunction = new()
        {
            UserId = userId,
            FunctionId = userFunction.Id,
            IsCheck = isCheck
        };

        using var httpResponse = await Http.PostAsJsonAsync<SetUserFunctionDto>("User/SetUserFunction", setUserFunction, JsonHelper.SerializeOpts);
        if (httpResponse.IsSuccessStatusCode)
        {
            Message.Success("设置成功");
        }
        else
        {
            userFunction.IsCheck = !isCheck;
        }

        StateHasChanged();
    }

}
